@use 'variables' as *;
.upper{
    border-top: 2px solid $upper-border-color ;
    border-right: 2px solid $upper-border-color ;
    position: fixed;
    right: 10px;
    bottom: 50px;
    transform: rotate(-45deg);
    width: 20px;
    height: 20px;
    cursor: pointer;
}