$primary-color: #6200ea;
$secondary-color: #03dac6;
$background-color: #121212;
$surface-color: #1e1e1e;
$text-color: #e0e0e0;
$text-color-secondary: #b3b3b3;
$upper-border-color:rgb(236, 230, 230);


.text-center {
  text-align: center;
}

.p-1 {
  padding: 1rem;
}