@use 'variables' as *;
@use 'upper';
@use "nav";
@use 'skills';
@use 'projects';
@use 'contact';
@use 'footer';
@use 'animations';
@use 'about';
@use 'hero';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: $background-color;
  color: $text-color;
  line-height: 1.6;
}

section {
  padding: 6rem 2rem;
  max-width: 1200px;
  margin: 0 auto;

  @media (max-width: 480px) {
    padding: 4rem 1rem;
  }

}

section h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 3rem;
  color: $secondary-color;
}

/* Görgetési animációk */
.hidden {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.hidden.visible {
  opacity: 1;
  transform: translateY(0);
}


@media (max-width: 480px) {
  section {
    padding: 4rem 1rem;
  }

  .hero-text h1 {
    font-size: 2rem;
  }

  .hero-text p {
    font-size: 1.2rem;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
}